.login {
  padding: 5px 10px;
  background-color: #14b8d4;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  border: 1px solid #14b8d4;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
